{% extends "layout.html" %}
{% block content %}
<h3>Welcome!</h3>
<div>This website is a place for me (a begginer Python enthusiast) to host any projects i come up with.</div><br>
<div>For now, what you can do here is:</div>
<div>Take <a href="/quiz">the Quiz.</a></div>
<div>And check <a href="/scores">yours and other peoples' scores.</a></div>
<br>
<body><img src="https://media1.giphy.com/media/VeHttCUzDvkYITt3rq/giphy.gif?cid=790b76112afde69fc391455b6f5b42ef792974c5f67a8253&rid=giphy.gif&ct=g"></body>
<br>
<br>

{% endblock content %}